$site-width: 1440px;
$gutter: 80px;
$base-line-height: 1.5;
$base-font-size: 16px;

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 10%);
$primary: hsl(192, 100%, 43%);
$grey: hsl(0, 0%, 67%);

//* Breakpoints */
$breakpoints: (
  "medium-handset": 360px,
  "large-handset": 400px,
  "small-tablet": 600px,
  "large-tablet": 720px,
  "small-desktop": 960px,
  "medium-desktop": 1024px,
  "large-desktop": 1200px
);
