@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(380px), 1fr));
  gap: rem($gutter);
}
