@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.sortDropdown {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;

  &__select {
    margin-left: rem(10px);
  }
}
